h1 {
  text-align: center;
}

body {
  background: url(surf.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

p {
  font-family: Josefin Sans, serif;
  font-weight: bolder;
  font-size: larger;
  margin: 50px;
  padding: 50px;
}

.boxed {
  border: 1px solid black ;
  background-color: white;
  opacity:.5;
}